/* estilo inicial */
body {
    background-color: #F2F2F2;
}

/* estilo do titulo */
.titulo {
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: auto;
}

.cabecalho {
    height: 60px;
}

/* cor da aba */
.tabs .indicator {
    background-color: white;
}

.tabs{
    font-size: 0.8rem;
}

/* fixo no topo */
.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.section {
    padding-top: 103px;
}

.opcoes-topo {
    padding-top: 7px;
    padding-right: 15px;
}
