<div id="fabalunos" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Aluno</h5>

        <form name='formAluno' class="col s12" >
            <div class="row">
                <input type="text" placeholder="Nome" ng-model="alunoSelect.nome" required name="nomeAluno">
                <input type="text" placeholder="Nascimento" ng-model="alunoSelect.dtnasc" onfocus="(this.type='date')">
                <input type="number" placeholder="Telefone" ng-model="alunoSelect.celular" input-number>
                <input type="text" placeholder="Endereço" ng-model="alunoSelect.endereco">
                <input type="text" placeholder="Turma" ng-model="alunoSelect.turma">
            </div>
        </form>                
    </div>
    <div class="modal-footer">
        <button class="btn deep-cyan waves-effect waves-light modal-close" ng-click="salvarAluno()"
                ng-disabled="formAluno.nomeAluno.$invalid">
            Salvar
        </button>
        <button class="btn-flat waves-effect waves-red modal-close">
            Cancelar
        </button>
    </div>
</div>