<div class="topo-fixo z-depth-1">
    <div class="valign-wrapper cyan darken-4 white-text cabecalho">
        
        <h5 class="titulo">
            <a class="white-text waves-effect waves-light" href="#/">
                <i class="material-icons">arrow_back</i>
            </a>
            Licenças
        </h5>

    </div>
</div>

<div class="body-item">
    <div class="row">
        <div class="col s12">
            <h4>{{escola.nome}}</h4>
            <br>
            <h6>Criada em: {{escola.dtcriacao}}</h6>
            <br>
            <h6>Preço de autorização: R${{escola.mensalidade}}</h6>
            <h6>Autorização de uso até: {{escola.vigencia}}</h6>
            <div>
                <a class="white-text waves-effect waves-light btn" ng-click="">
                    Enviar comprovante de pagamento
                </a>
            </div>
            <br>
            <h6>Token:</h6>
            <div input-field>
                <textarea ng-model="escola.token" class="materialize-textarea"></textarea>
            </div>
        </div>
    </div>
</div>