<div class="topo-fixo z-depth-1">
    <div class="valign-wrapper cyan darken-4 white-text cabecalho">
        
        <h5 class="titulo">
            <a class="white-text waves-effect waves-light" href="#/abas/cobrancas">
                <i class="material-icons">arrow_back</i>
            </a>
            Cobrança
        </h5>
        
        <div ng-hide="!lPesq">
            <input focus-on="inputPesq" type="text" placeholder="Pesquisar..." ng-model="searchText">
        </div>
        <div>
            <a class="white-text waves-effect waves-light opcoes-topo" ng-click="btnPesq()">
                <i class="material-icons">search</i>
            </a>

        </div>

        
        <div>
            <a class="white-text waves-effect waves-light opcoes-topo" data-target='altcobranca' modal>
                <i class="material-icons">create</i>
            </a>
        </div>
        <div>
            <a class="white-text waves-effect waves-light opcoes-topo" data-target='delcobranca' modal>
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
</div>

<div class="body-item">
    <div class="row">
        <div class="col s12">
            <h5>{{cobranca.titulo}}</h5>
            <p>{{cobranca.descricao}}</p>
            <h6>Arrecadado: R$ {{arrecadado}}</h6>
        </div>
    </div>
   
    <ul class="collection">
        
        <li class="collection-item cyan darken-4 white-text">
            <span class="title">Pagadores</span>
            <a href="" class="secondary-content" ng-click="lverAdimplentes=!lverAdimplentes">
                <i class="material-icons" ng-hide="lverAdimplentes">keyboard_arrow_down</i>
                <i class="material-icons" ng-hide="!lverAdimplentes">keyboard_arrow_up</i></a>
        </li>
        

        <li class="collection-item avatar" ng-repeat="aluno in alunosAdimp | filter:searchText" ng-hide="!lverAdimplentes">
          <img src="{{aluno.foto}}" alt="" class="circle">
          <span class="title">{{aluno.nome}}</span>
            <p>First Line</p>
          <a href="" class="secondary-content">R$ {{aluno.valor}}</a>
        </li>

        
        <li class="collection-item cyan darken-4 white-text">
            <span class="title">Devedores</span>
            <a href="" class="secondary-content" ng-click="lverInadimplentes=!lverInadimplentes">
                <i class="material-icons" ng-hide="lverInadimplentes">keyboard_arrow_down</i>
                <i class="material-icons" ng-hide="!lverInadimplentes">keyboard_arrow_up</i></a>
        </li>
           
            
        <li class="collection-item avatar" ng-repeat="aluno in alunosInadimp | filter:searchText" ng-hide="!lverInadimplentes">
          <img src="{{aluno.foto}}" alt="" class="circle">
          <span class="title">{{aluno.nome}}</span>
            <p>First Line</p>
          <a href="" class="secondary-content" ng-click="select($index)" ng-class="{active: $index===selectedIndex}" data-target='addpagalun' modal><i class="material-icons">attach_money</i></a>
        </li>

    </ul>

</div>


<!--MODAL DELETA COBRANCA -->
<div id="delcobranca" class="modal">
    <div class="modal-content">
        <h5>Deletar Cobrança</h5>

        Deseja realmente deletar {{cobranca.titulo}} ?           
    </div>
    <div class="modal-footer">
        <button class="btn deep-cyan waves-effect waves-light modal-close" ng-click="">
            Confirmar
        </button>
        <button class="btn-flat waves-effect waves-red modal-close">
            Cancelar
        </button>
    </div>
</div>

<!--MODAL ALTERA COBRANCA -->
<div id="altcobranca" class="modal">
    <div class="modal-content">
        <h5>Alterar Cobrança</h5>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="titulo" type="text" class="validate" ng-model="altCobranca.titulo">
                        <label for="titulo">Titulo</label>
                    </div>
                    
                    <div class="input-field col s12">
                        <input id="data" type="text" class="validate" ng-model="altCobranca.data">
                        <label for="data">Data</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="descricao" type="text" class="validate" ng-model="altCobranca.descricao">
                        <label for="descricao">Descrição</label>
                    </div>
                </div>
            </form>
        </div>          
    </div>
    <div class="modal-footer">
        <button class="btn deep-cyan waves-effect waves-light modal-close" ng-click="">
            Confirmar
        </button>
        <button class="btn-flat waves-effect waves-red modal-close">
            Cancelar
        </button>
    </div>
</div>

<!--MODAL PAGAMENTO -->
<div id="addpagalun" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Adicionar Pagamento</h5>

        <form name='formPagAlu' class="col s12" >
            <div class="row">
                <input name="cobranca-pagamento" type="text" placeholder="Cobrança" ng-model="cobranca.titulo" disabled>
                <input name="aluno-pagamento" type="text" placeholder="Aluno" ng-model="alunosInadimp[selectedIndex].nome" disabled >
                <input type="number" string-to-number placeholder="Valor" ng-model="valorPago" required name="valorpago">
            </div>
        </form>                
    </div>
    <div class="modal-footer">
        <button class="btn deep-cyan waves-effect waves-light modal-close" ng-click="viewvalor()"
                ng-disabled="formPagAlu.valorpago.$invalid">
            Salvar
        </button>
        <button class="btn-flat waves-effect waves-red modal-close">
            Cancelar
        </button>
    </div>
</div>

